/*********************************
General
*********************************/
html, body {
  padding: 0px !important;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Arial', Fallback, sans-serif;
  font-weight: bolder;
  //text-align: center;
}

::selection {
  background: #aaaaaa;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #aaaaaa;
  /* Gecko Browsers */
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

/*********************************
Mixins
*********************************/
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 992px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 768px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 650px) { @content ; }
  }
   @else if $point == largemobile {
     @media (min-width: 500px) { @content ; } 
  }
  @else if $point == mobileonly {
     @media (max-width: 500px) { @content ; }

  }
}


/*********************************
Grid
*********************************/
.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid > * {
  padding: 0px;
  margin: 0px;
}

.grid-h {
  @extend .grid;
  padding: 16px;
}

.grid-2-h {
  @extend .grid-h;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(phablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-3-h {
  @extend .grid-h;
  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  justify-items: center;
}

/*********************************
Text
*********************************/
h1, h2, h3, h4, h5, h6, p, text {
  padding: 16px;
  font-weight: 4px;
  text-align: center;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
  text-align: left;
}

/*********************************
decoration / divider
*********************************/

.divider {
  width: 100%;
  align-content: baseline;
}

.divider, .divider:before {
  float: left;
}

.divider, .divider:after {
  float: right; 
}

.divider:before, .divider:after {
  content: '';
  width: 40%;
  top: 50%;
  bottom: 50%;
  height: 2px;
}
.divider:before {
  margin-left: 5%;
  background-color: #000000;
}
.divider:after {
  margin-right: 5%;
  background-color: #000000
}

.decoration {
  position: relative;
  background-repeat: no-repeat;
  padding: 32px;
}

.upper-left {
  position: absolute;
  top: 20px;
  left: 5%;
  width: 50px;
  height: 50px;
  transform: scale(-2.5, 2.5); // rotate(-60deg);
  filter: opacity(0.85);
  // border: 1px solid red;
  object-fit: fill;
}

.top-center {
  display: block;
  padding: 0px 0px;
  transform: scale(3, 3); /* Center horizontally */
  align-self: center;
  width: 200px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}