/*********************************
General
*********************************/
/* SCSS HEX */
$dark-moss-green: #5D5E2Aff;
$redwood: #A0555Cff;
$lilac: #C79BBEff;
$lavender-web: #CDD6E7ff;
$lavender-blush: #EAD8DEff;

/* SCSS HSL */
$dark-moss-green: hsla(61, 38%, 27%, 1);
$lighter-moss-green: hsla(61, 38%, 75%, 1);
$redwood: hsla(354, 31%, 48%, 1);
$lighter-redwood: hsla(354, 31%, 75%, 1);
$lilac: hsla(312, 28%, 69%, 1);
$lavender-web: hsla(219, 35%, 85%, 1);
$lavender-blush: hsla(340, 30%, 88%, 1);

/* SCSS RGB */
$dark-moss-green: rgba(93, 94, 42, 1);
$redwood: rgba(160, 85, 92, 1);
$lilac: rgba(199, 155, 190, 1);
$lavender-web: rgba(205, 214, 231, 1);
$lavender-blush: rgba(234, 216, 222, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-right: linear-gradient(90deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-central: linear-gradient(90deg, #FFFFFFff, $lighter-moss-green, $lighter-redwood, #C79BBEff, #CDD6E7ff, #EAD8DEff, #FFFFFFff);
$gradient-bottom: linear-gradient(180deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-left: linear-gradient(270deg, rgb(91, 92, 64), #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-top-right: linear-gradient(45deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-bottom-right: linear-gradient(135deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-top-left: linear-gradient(225deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-bottom-left: linear-gradient(315deg, #5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);
$gradient-radial: radial-gradient(#5D5E2Aff, #A0555Cff, #C79BBEff, #CDD6E7ff, #EAD8DEff);

html, body {
  padding: 0px !important;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Arial', Fallback, sans-serif;
  font-weight: bolder;
  //text-align: center;
}

::selection {
  background: #aaaaaa;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #aaaaaa;
  /* Gecko Browsers */
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

/*********************************
Mixins
*********************************/
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1260px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 992px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 768px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 650px) { @content ; }
  }
   @else if $point == largemobile {
     @media (min-width: 500px) { @content ; } 
  }
  @else if $point == mobileonly {
     @media (max-width: 500px) { @content ; }

  }
}


/*********************************
Grid
*********************************/
.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid > * {
  padding: 0px;
  margin: 0px;
}

.grid-h {
  @extend .grid;
  padding: 16px;
}

.grid-center {
  @extend .grid;
  padding: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.grid-2-h {
  @extend .grid-h;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-3-h {
  @extend .grid-h;
  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  justify-items: center;
}

.grid-5-h {
  @extend .grid-h;
  grid-template-columns: repeat(5, 1fr);
  // grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  justify-items: center;
}


/*********************************
Text
*********************************/
h1, h2, h3, h4, h5, h6, p, text {
  padding: 16px;
  font-weight: 4px;
  text-align: center;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
  text-align: left;
}

/*********************************
decoration / divider
*********************************/
.divider-grid {
  display: flex;
  align-items: center; /* Vertically center items */
  .left,
  .right {
    flex: 1; /* Left and right items take equal remaining space */
  }
  .left {
    margin-left: 32px;
  }
  .right {
    margin-right: 32px;
  }
  .center {
    flex: 0 0 auto; /* Tightly wrap center item to its content */
    margin: -32px 0px;
  }
}

.divider {
  width: 100%;
  align-content: baseline;
  height: 2px;
  background-color: #000000;
}

.top-center {
  display: block;
  align-self: center;
  width: 25%;
  min-width: 136px; /* Adjust size as needed */
  max-width: 180px; /* Adjust size as needed */
}