@import 'global';

.global-container {
  .content {
    & > * {
      padding-bottom: 8px;
    }
  }
}

/* =========================================================
Header
========================================================= */
.header{
  display: flex;
  background-image: url('../images/rotunda.jpg');
  background-size: cover;
  background-position: center;
  background-position-y: center;
  height: 550px;
  justify-content: center;
  margin-bottom: 16px;
  .header-text{
    margin-right: 16px;
    width: min-content;
    @include breakpoint('phablet') {
      width: fit-content;
    }
    display: block;
    position: absolute;
    border-radius: 1rem;
    height: auto;
    flex-direction: column;
    float: top left;
    top: 74px;
    left: 36px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

/* =========================================================
Icons
========================================================= */
.icons {
  @extend .grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 2rem;
  position: fixed;
  float: top right;
  //background-color: rgb(42, 42, 42);
  //background-color: rgb(212, 212, 212);
  background-color: white;
  opacity: 100%;
  box-shadow: 1px 1px 8px;
  top: 64px;
  right: 32px;
  z-index: 2;
  img {
    margin: 8px;
    width: 40px;
    height: 40px;
  }
}

/* =========================================================
Menu
========================================================= */
.menu {
  height: 100vh;
  width: 20rem;
  z-index: 200;

  transform: translateX(-100%);
  transition: 0.3s;

  position: fixed;
  left: 0;
  top: 0;

  button {
    cursor: pointer;
    width: 95%;
    margin: 8px;
    justify-content: center;
  }
}

.menu-open {
  transform: translateX(0%);
}

/* =========================================================
Landing
========================================================= */
.landing {
  .about-me {
    padding-bottom: 16px;
    padding-right: 16px;
  }
  .landing-image-container {
    display: contents;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}

/* =========================================================
Featured
========================================================= */
.featured {
  .pdf {
    max-width: 850px;
    max-height: 1100px;
    width: 80vw;
    height: 104vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

/* =========================================================
Skills
========================================================= */

.skills {
  justify-content: center;
  .skills-container {
    @extend .grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
    @include breakpoint('tablet') {
      grid-template-columns: repeat(5, 1fr);
      max-width: 648px;
    }
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 16px;
    margin: auto;
    img {
      padding: 8px;
      background: white;
      border-radius: 4px;
      box-shadow: 1px 1px 4px;
      width: 96px;
      height: 96px;
    }
  }
}

/* =========================================================
Projects
========================================================= */
.projects {
  .projects-container {
    @extend .grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(1, 1fr);
    max-width: 360px;
    @include breakpoint('tablet') {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1200px;
    } 
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 16px;
    margin: auto;
    padding: 16px;
    .project-card {
      box-shadow: 1px 1px 8px;
      border-radius: 8px;
      height: 632px;
      margin-top: auto;
      margin-bottom: auto;
      .project {
        padding: 8px;
        img {
          max-block-size: inherit;
          max-width: 100%;
        }
      }
    }
  }
}

/* =========================================================
Footer
========================================================= */
.footer {
  .footer-content {
      padding: 64px 32px 48px 32px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      img {
        justify-self: center;
      }
      .socials {
        @extend .grid;
        justify-self: center;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 2rem;
        position: fixed;
        float: top right;
        //background-color: rgb(42, 42, 42);
        //background-color: rgb(224, 224, 224);
        box-shadow: 1px 1px 8px;
        background-color: white;
        top: 92px;
        right: 32px;
        z-index: 2;
        img {
          //box-shadow: 1px 1px 4px;
          margin: 8px;
          width: 40px;
          height: 40px;
        }
      }
      .contact {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: left;
        & > * {
          margin: 4px;
        }
      }
  }
}